.Content {
  width: 80%;
  padding: 30px;
  height: 100%;
  overflow-y: scroll;
}

.Content-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}
