html {
  height: 100%;
  font-size: 100%;
  padding: 0;
  margin: 0;
}

body {
  height: 100%;
  font-size: 10px;
  padding: 0;
  margin: 0;
}

#root {
  height: 100%;
}

.tuture {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.tuture-catalog {
  width: 20%;
  height: 100%;
  overflow-y: scroll;
  overflow-x: scroll;
  border-right: 1px solid #e8e8e8;
}

.tuture-menu {
  font-size: 14px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  outline: none;
  margin-bottom: 0;
  padding-left: 0;
  list-style: none;
  color: rgba(0, 0, 0, .65);
  line-height: 0;
  background: #fff;
  -webkit-transition: background .3s, width .2s;
  transition: background .3s, width .2s;
  zoom: 1;
}

.tuture-menu-item {
  padding: 0 16px 0 28px;
  width: calc(100% + 1px);
  font-size: 14px;
  line-height: 40px;
  height: 40px;
  margin-top: 4px;
  margin-right: 2px;
  overflow: hidden;
  text-overflow: ellipsis;
  cursor: pointer;
  margin: 0;
  display: block;
  white-space: nowrap;
}

.tuture-menu-item-selected {
  background-color: #e6f7ff;
  color: #1890ff;
  border-right: 4px solid #1890ff;
}

.tuture-content {
  width: 80%;
  padding: 30px;
  padding-bottom: 0;
  height: 100%;
  overflow-y: scroll;
}

.tuture-content-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}
