.ProseMirror {
  position: relative;
  overflow-wrap: break-word;
  word-wrap: break-word;
  word-break: break-word;

  * {
    caret-color: currentColor;
  }

  h1,
  h2,
  h3,
  p,
  ul,
  ol,
  pre,
  blockquote {
    margin: 1rem 0;

    &:first-child {
      margin-top: 0;
    }

    &:last-child {
      margin-bottom: 0;
    }
  }

  h1,
  h2,
  h3 {
    line-height: 1.3;
  }

  pre {
    padding: 0.7rem 1rem;
    border-radius: 5px;
    background: $color-black;
    color: $color-white;
    font-size: 0.8rem;
    overflow-x: auto;

    code {
      display: block;
    }
  }

  p code {
    padding: 0.2rem 0.4rem;
    border-radius: 5px;
    font-size: 0.8rem;
    background: rgba($color-black, 0.1);
    color: rgba($color-black, 0.8);
  }

  ul,
  ol {
    padding-left: 1rem;
  }

  li > p,
  li > ol,
  li > ul {
    margin: 0;
  }

  a {
    color: inherit;
  }

  blockquote {
    border-left: 3px solid rgba($color-black, 0.1);
    color: rgba($color-black, 0.8);
    padding-left: 0.8rem;
    font-style: italic;

    p {
      margin: 0;
    }
  }

  img {
    display: inline-block;
    float: none;
    margin: 12px 0;
    max-width: 100%;

    &[data-display='inline'] {
      margin-left: 12px;
      margin-right: 12px;
    }

    &[data-display='block'] {
      display: block;
    }

    &[data-display='left'] {
      float: left;
      margin-left: 0;
      margin-right: 12px;
    }

    &[data-display='right'] {
      float: right;
      margin-left: 12px;
      margin-right: 0;
    }
  }

  .image-view {
    $root: &;

    display: inline-block;
    float: none;
    line-height: 0;
    margin: 12px 0;
    max-width: 100%;
    user-select: none;
    vertical-align: baseline;

    &--inline {
      margin-left: 12px;
      margin-right: 12px;
    }

    &--block {
      display: block;
    }

    &--left {
      float: left;
      margin-left: 0;
      margin-right: 12px;
    }

    &--right {
      float: right;
      margin-left: 12px;
      margin-right: 0;
    }

    &__body {
      clear: both;
      display: inline-block;
      max-width: 100%;
      outline-color: transparent;
      outline-style: solid;
      outline-width: 2px;
      transition: all 0.2s ease-in;
      position: relative;

      &:hover {
        outline-color: #ffc83d;
      }

      &--focused:hover,
      &--resizing:hover {
        outline-color: transparent;
      }

      &__placeholder {
        height: 100%;
        left: 0;
        position: absolute;
        top: 0;
        width: 100%;
        z-index: -1;
      }

      &__image {
        cursor: pointer;
        margin: 0;
      }
    }
  }

  .image-resizer {
    border: 1px solid $color-black;
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 1;

    &__handler {
      background-color: $color-black;
      border: 1px solid $color-white;
      border-radius: 2px;
      box-sizing: border-box;
      display: block;
      height: 12px;
      position: absolute;
      width: 12px;
      z-index: 2;

      &--tl {
        cursor: nw-resize;
        left: -6px;
        top: -6px;
      }

      &--tr {
        cursor: ne-resize;
        right: -6px;
        top: -6px;
      }

      &--bl {
        bottom: -6px;
        cursor: sw-resize;
        left: -6px;
      }

      &--br {
        bottom: -6px;
        cursor: se-resize;
        right: -6px;
      }
    }
  }

  .resize-cursor {
    cursor: ew-resize;
    cursor: col-resize;
  }
}
