table {
  width: 100%;
  border-collapse: collapse;
  box-sizing: border-box;

  p {
    margin: 0;
  }

  * {
    box-sizing: border-box;
  }

  tr {
    position: relative;
    border-bottom: 1px solid #c5ccd3;
  }

  td,
  th {
    position: relative;
    vertical-align: top;
    border: 1px solid #c5ccd3;
    position: relative;
    padding: 4px 8px;
    text-align: left;
    min-width: 100px;
  }

  .selectedCell {
    background: #e5f7ff;

    /* fixes Firefox background color painting over border:
     * https://bugzilla.mozilla.org/show_bug.cgi?id=688556 */
    background-clip: padding-box;
  }

  .grip-column {
    /* usage of ::after for all of the table grips works around a bug in
     * prosemirror-tables that causes Safari to hang when selecting a cell
     * in an empty table:
     * https://github.com/ProseMirror/prosemirror/issues/947 */
    &::after {
      content: '';
      cursor: pointer;
      position: absolute;
      top: -16px;
      left: 0;
      width: 100%;
      height: 12px;
      background: #c5ccd3;
      border-bottom: 3px solid #fff;
      display: block;
    }

    &:hover::after {
      background: #181a1b;
    }
    &.first::after {
      border-top-left-radius: 3px;
    }
    &.last::after {
      border-top-right-radius: 3px;
    }
    &.selected::after {
      background: #1ab6ff;
    }
  }

  .grip-row {
    &::after {
      content: '';
      cursor: pointer;
      position: absolute;
      left: -16px;
      top: 0;
      height: 100%;
      width: 12px;
      background: #c5ccd3;
      border-right: 3px solid #fff;
      display: block;
    }

    &:hover::after {
      background: #181a1b;
    }
    &.first::after {
      border-top-left-radius: 3px;
    }
    &.last::after {
      border-bottom-left-radius: 3px;
    }
    &.selected::after {
      background: #1ab6ff;
    }
  }

  .grip-table {
    &::after {
      content: '';
      cursor: pointer;
      background: #c5ccd3;
      width: 13px;
      height: 13px;
      border-radius: 13px;
      border: 2px solid #fff;
      position: absolute;
      top: -18px;
      left: -18px;
      display: block;
    }

    &:hover::after {
      background: #181a1b;
    }
    &.selected::after {
      background: #1ab6ff;
    }
  }
}

.scrollable-wrapper {
  position: relative;
  margin: 0.5em 0px;
  scrollbar-width: thin;
  scrollbar-color: transparent transparent;

  &:hover {
    scrollbar-color: #c5ccd3 #f4f7fa;
  }

  & ::-webkit-scrollbar {
    height: 14px;
    background-color: transparent;
  }

  &:hover ::-webkit-scrollbar {
    background-color: #f4f7fa;
  }

  & ::-webkit-scrollbar-thumb {
    background-color: transparent;
    border: 3px solid transparent;
    border-radius: 7px;
  }

  &:hover ::-webkit-scrollbar-thumb {
    background-color: #2f3336;
    border-color: #f4f7fa;
  }
}

.scrollable {
  overflow-y: hidden;
  overflow-x: auto;
  padding-left: 1em;
  margin-left: -1em;
  border-left: 1px solid transparent;
  border-right: 1px solid transparent;
  transition: border 250ms ease-in-out 0s;
}

.scrollable-shadow {
  position: absolute;
  top: 0;
  bottom: 0;
  left: -1em;
  width: 16px;
  transition: box-shadow 250ms ease-in-out;
  border: 0px solid transparent;
  border-left-width: 1em;
  pointer-events: none;

  &.left {
    box-shadow: 16px 0 16px -16px inset rgba(0, 0, 0, 0.25);
    border-left: 1em solid #fff;
  }

  &.right {
    right: 0;
    left: auto;
    box-shadow: -16px 0 16px -16px inset rgba(0, 0, 0, 0.25);
  }
}
