html {
  font-size: 100%;
}

body {
  height: 100%;
  font-size: 10px;
  margin: 0;
  padding: 0;
}

#root {
  height: 100%;
}

.diff-hunk-header {
  display: none;
}

.diff-file {
  margin-top: 2em;
  border: 1px solid #e1e1e1;
}

.diff-file-header {
  background-color: #f7f7fa;
  line-height: 3;
  padding-left: 1em;
  border-bottom: 1px solid #e1e1e1;

  display: -webkit-box;

  display: -ms-flexbox;

  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.filename {
  margin-right: 1em;
}

.addition-count {
  margin-right: 1em;
  color: #88b149;
}

.deletion-count {
  margin-right: 1em;
  color: #ee5b60;
}
